services:

  app:
    image: biigle/app-dist
    user: ${USER_ID}:${GROUP_ID}
    restart: always
    depends_on:
      - cache
    tmpfs:
      - /var/www/storage/framework/views:uid=${USER_ID},gid=${GROUP_ID}
    volumes:
      - ./storage:/var/www/storage

  websockets:
    restart: always
    image: biigle/websockets-dist
    ports:
      - 6001:6001

  web:
    image: biigle/web-dist
    restart: always
    depends_on:
      - app
      - websockets
    volumes:
      - type: bind
        source: ./certificate
        target: /etc/letsencrypt/live/example.com
        read_only: true
      - type: bind
        source: ./storage
        target: /var/www/storage
        read_only: true
    ports:
      - 80:80
      - 443:443 # Remove for a setup without SSL
    # Uncomment to use the webserver without SSL:
    # command: nginx -g 'daemon off;' -c /etc/nginx/nginx-no-ssl.conf

  worker:
    image: biigle/worker-dist
    user: ${USER_ID}:${GROUP_ID}
    restart: always
    depends_on:
      - cache
    volumes_from:
      - app
    init: true
    command: "php artisan queue:work --queue=high,default --sleep=5 --tries=3 --timeout=0 --memory=1024"

  pyworker:
    image: ghcr.io/biigle/pyworker
    user: ${USER_ID}:${GROUP_ID}
    restart: always
    volumes_from:
      - app
    init: true
    environment:
      # Services should share the cache directory.
      - TORCH_HOME=storage/largo_cache
      # This is required for much faster CPU processing.
      # See: See also: https://pytorch.org/tutorials/intermediate/torchserve_with_ipex.html
      - OMP_NUM_THREADS=2
    command: "python resources/scripts/ExtractFeaturesWorker.py"

  scheduler:
    image: biigle/worker-dist
    user: ${USER_ID}:${GROUP_ID}
    restart: always
    depends_on:
      - cache
    volumes_from:
      - app
    command: "/bin/sh -c 'trap exit TERM; while sleep 60 & wait; do php artisan schedule:run >> /dev/null 2>&1; done'"

  database:
    image: ghcr.io/biigle/pgvector
    restart: always
    volumes:
      - dbdata:/var/lib/postgresql/data
    environment:
      - "POSTGRES_DB=biigle"
      - "POSTGRES_USER=biigle"
      - "POSTGRES_PASSWORD=secret"

  cache:
    image: redis:7-alpine
    restart: always

volumes:
  dbdata:
